<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>542725343091-ae0d11ga8anvrivjqj1108gmtp7pnoia.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.542725343091-ae0d11ga8anvrivjqj1108gmtp7pnoia</string>
	<key>API_KEY</key>
	<string>AIzaSyDIVbHcAZGW0Sj8XYAnsxEGe0xIKuIW8qA</string>
	<key>GCM_SENDER_ID</key>
	<string>542725343091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.skanmed</string>
	<key>PROJECT_ID</key>
	<string>skanmed-14b16</string>
	<key>STORAGE_BUCKET</key>
	<string>skanmed-14b16.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:542725343091:ios:b5f54ed1da783bca82a706</string>
</dict>
</plist>